#products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin: 1em;
    padding: 1em;
}

.card-body{
    flex: none !important;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 200px;
}

.dropdown-menu li{
    cursor: pointer;
}

.details-card {
    border: 1px solid rgba(148, 148, 148, 0.349);
    border-radius: 1em;
    padding: 4em;
}

.details-card img {
    max-width: 250px;
}

.price::first-letter {
    color: rgb(0, 107, 0);
    font-size: 1.2em;
}

#cart {
    color: rgb(49, 49, 49);
    padding: 1em;
}